{% extends 'admin/base.html.twig' %}

{% block title %}Administration des galeries{% endblock %}

{% block body %}
    <div class="contaner-fluid">
        <h1 class="my-5">Gestion des galeries</h1>

        {% for label, messages in app.flashes %}
            <div class="container">
                <div class="alert alert-{{label}}">
                    {% for message in messages %}
                        <p>{{ message | raw }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Email</th>
                    <th class="text-center">Note</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            <img src="{{user.avatar}}" alt="Avatar" class="avatar avatar-micro  mr-2">
                            {{ user.pseudo }}
                        </td>
                        <td>{{ user.email }}</td>
                        <td>
                            <span class="badge badge-primary rounded">{{ user.avgRatings | number_format(1, ',', ' ') }}</span>
                        </td>
                        <td>
                            <a href=" {{ path('admin_users_edit', {'id': user.id}) }} " class="btn btn-primary"><i class="fas fa-edit"></i></a>
                            <a href=" {{ path('admin_users_delete', {'id': user.id}) }} " class="btn btn-danger" onclick="return confirm(`Etes vous sûr de vouloir supprimer cet utilisateur ? `)"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
